footer {
    bottom:10px;
    background-color: #FF8B8B;
    position: absolute;
    margin: auto;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 0, 0)
}


ul {
    position: absolute;
    width: 100px;
    top: 40px;
    right: 30vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

ul li a:hover {
    color: #FF4F51;
}