.container{
    position: absolute;
    width: 550px;
    height: 450px;
    left: calc(50% - 550px/2);
    top: calc(50% - 450px/2 + 33.5px);
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.072) 52.89%, rgba(255, 255, 255, 0.09) 100%), #EA9E9E;
    mix-blend-mode: normal;
    backdrop-filter: blur(2px);
}
